<div class="container flex direction-column align-center">
    <div class="title text-xl p-t-md">
        Add new expense
    </div>


    <form [formGroup]="expenseForm" class="flex direction-column" (ngSubmit)="onSubmit()">
        <div class="expenseForm p-t-md">
            <label for="single">
                Single
            </label>
            <input type="radio" id="single" name="expensesType" value="single" formControlName="expensesType" checked>

            <label for="monthly">
                Monthly
            </label>
            <input type="radio" id="monthly" name="expensesType" value="monthly" formControlName="expensesType">
        </div>

        <div class="p-t-md flex direction-column">
            <label for="expenseName">
                New expense name:
            </label>
            <input type="text" formControlName="expenseName" id="expenseName">
        </div>

        <div class="p-t-md flex direction-column">
            <label for="expenseTakes">
        Expense takes per month:
      </label>
            <input type="number" formControlName="expenseTakes" id="expenseTakes">
            <!--<div *ngIf="expenseForm.invalid && (expenseForm.expenseTakes.dirty || expenseForm.expenseTakes.touched)">*This field is required</div>-->
        </div>

        <div class="p-t-md flex direction-column">
            <label for="dateYear">
        New expense date:
      </label>
            <input type="text" formControlName="dateYear" id="dateYear" placeholder="{{ expenseItemDate | date:'yyyy.MM.dd' }}" disabled>
        </div>




        <div class="flex justify-center p-t-md">
            <button class="" type="submit" [disabled]="!expenseForm.valid">ADD</button>

        </div>
    </form>

</div>