<div class="container flex direction-column align-center">
  <div class="title text-xl p-t-md">
    Add new expense
  </div>
  <form [formGroup]="addExpenseForm" class="p-t-lg flex direction-column" (ngSubmit)="onSubmit()">

    <label>
      New expense name:
      <br>
      <input type="text" formControlName="name">
    </label>


    <label>
      Generates per month:
      <br>
      <input type="number" formControlName="takesPerMonth">
    </label>

    <div class="flex justify-center">
      <app-button text="ADD" type="submit"></app-button>
    </div>
  </form>

</div>

