<div class="container p-md">

  <div class="income-source">

    <app-expenses-list></app-expenses-list>

    <div class="buttons flex justify-center p-t-xl">
      <app-button text="ADD EXPENSE" (click)="toggleTable()"></app-button>
    </div>

  </div>


  <div class="addExpenseTable shadow-light p-md" *ngIf="tableShow" (greet)="greet()"> <!-- [ngClass]="expenseTableStatus? 'show' : 'hide'"  -->
    <div class="flex justify-flex-end">
      <app-icon (click)="toggleTable()"></app-icon>
    </div>
    <app-new-expense-form (tableStatus)="toggleTable()"></app-new-expense-form>
  </div>


</div>
