@import '../../../../theme/variables';

.header{

  background-color: $primary;
}
.middle{
height: 90vh;
  .sidenav{
    width: 16rem;
    background-color: $primary;
  }
  .content{
    width: 100%;
    background-color: $secondary;
  }
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .2rem;
  background-color: $primary;
}
