@import '../../../../theme/variables';

.navigation{
  border-bottom: 2px solid $primary;
  .choice{
    transition: .2s;
    &.active{
      background-color: $primary;
    }
    &:hover{
      background-color: $primary;
      cursor: pointer;
    }
  }
}
