<div class="table" *ngIf="totalNumber !== 0">


    <div class="row header text-md flex justify-between p-y-md">
        <div class="cel">
            Name
        </div>
        <div class="cel">
            $/mon.
        </div>
        <div class="cel">
            Added on
        </div>
        <div class="cel buttons">
        </div>
    </div>


    <div class="row flex justify-between p-y-md" *ngFor="let expense of expenseItems$ | async">
        <div class="cel name flex align-center">

            {{ expense.name }}

        </div>
        <div class="cel flex align-center">

            {{ expense.takesPerMonth }}

        </div>
        <div class="cel flex align-center">

            {{expense.dateAdded | date:'yyyy-MM-dd'}}

        </div>
        <div class="cel buttons flex align-center">
            <!--<button>i</button>-->
            <button class="deleteList text-md" (click)="removeExpense(expense.id)">x</button>
        </div>
    </div>


    <div class="row flex justify-between p-y-md">
        <div class="cel total-name text-md">
            TOTAL:
        </div>
        <div class="cel total-number flex justify-center text-md">
            <span class="p-r-sm">
        Takes
      </span> {{ totalNumber }}
            <span>
        $ per month
      </span>

        </div>

    </div>
</div>


<div *ngIf="totalNumber == 0" class="text-xl flex justify-center p-t-lg">
    You have no expenses
</div>