<div class="table" *ngIf="totalNumber > 0">
    <div class="row header text-md flex justify-between p-y-md">
        <div class="cel">
            Name
        </div>
        <div class="cel">
            $
        </div>
        <div class="cel">
            Added on
        </div>
        <div class="cel buttons">
        </div>
    </div>
    <div class="row flex justify-between p-y-md" *ngFor="let expense of expenseItems$ | async">
        <div class="cel name flex align-center">
            {{ expense.name }}
        </div>
        <div class="cel flex align-center">
            {{ expense.takesPerMonth }}
        </div>
        <div class="cel flex align-center">
            {{expense.dateAdded | date:'yyyy-MM-dd'}}
        </div>
        <div class="cel buttons flex align-center">
            <app-button text="X" (click)="removeExpense(expense.id)"></app-button>
        </div>
    </div>


    <div class="row flex justify-between p-y-md">
        <div class="cel total-name text-md">
            TOTAL:
        </div>
        <div class="cel total-number flex justify-center text-md">
            <span class="p-r-sm">
        
      </span> {{ totalNumber }}
            <span>
        $ this month
      </span>

        </div>

    </div>
</div>


<div *ngIf="totalNumber == 0 || totalNumber == undefined" class="text-xl flex justify-center p-t-lg">
    You have no expenses
</div>