// Colors storm
$primary: #a6aee4;
$secondary: #f0f0f0;
$accent: rgb(255, 217, 0);

// Shadow
$box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);


// Text size
$text-xs: .6rem;
$text-sm: .8rem;
$text-md: 1.2rem;
$text-lg: 1.6rem;
$text-xl: 2.4rem;
$text-xxl: 3.2rem;
// Spacing size
$spacing-xs: .25rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 3rem;
