<div class="sidenav flex direction-column align-center">
    <div class="link flex justify-center align-center" routerLink="expenses" routerLinkActive="active">
        Expenses
    </div>
    <div class="link flex justify-center align-center" routerLink="income" routerLinkActive="active">
        Income
    </div>
    <div class="link  flex justify-center align-center" routerLink="statistics" routerLinkActive="active">
        Statistics
    </div>
    <div class="link  flex justify-center align-center" routerLink="overview" routerLinkActive="active">
        Overview
    </div>
    <div class="link  flex justify-center align-center" routerLink="logs" routerLinkActive="active">
        Logs
    </div>
</div>