<div class="sidenav flex direction-column align-center">
  <div class="link p-md m-b-sm flex justify-center align-center" routerLink="expenses">
    Expenses
  </div>
  <div class="link p-md m-b-sm flex justify-center align-center" routerLink="income">
    Income
  </div>
  <div class="link p-md m-b-sm flex justify-center align-center" routerLink="statistics">
    Statistics
  </div>
  <div class="link p-md m-b-sm flex justify-center align-center" routerLink="overview">
    Overview
  </div>
  <div class="link p-md m-b-sm flex justify-center align-center" routerLink="logs">
    Logs
  </div>
</div>
