@import "../../../../theme/variables";
input{
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid $secondary;
  color: black;
  transition: .2s;

  &:focus{
    outline: none;
    border-bottom: 3px solid $accent;
  }
}
