<table>
  <caption class="m-b-lg text-xl">My expenses</caption>

  <tr class="header">
    <th>Expense name</th>
    <th></th>
    <th>Takes per month</th>
  </tr>



  <tr *ngFor="let expense of expenseItems$ | async" class="rows" (click)="removeExpense(expense.id)">
    <td>
      {{ expense.name }}
    </td>
    <td></td>
    <td>
      {{ expense.takesPerMonth }}
    </td>
  </tr>

  <tr class="total" >
    <td>
      Total:
    </td>
    <td></td>
    <td>
      {{ totalNumber }}
    </td>
  </tr>
</table>

<!-- from tutorial -->

<button type="button" (click)="callMethod()">Call method from Component1</button>
