@import "../../../../theme/variables";

.table{
  .row{
    border-bottom: 1px solid rgba($primary, 0.65);
    border-top: 1px solid rgba($primary, 0.65);
    &.header{
      border-top: none;
    }
    .cel{
      width: 30%;
      &.buttons{
        width: 10%;
        button{
          width: 40%;
          &:hover{
            cursor: pointer;
          }
        }
      }
        &.total-name{
          width: 20%;
        }
      &.total-number{
        width: 80%;
      }
    }
  }
}
