<table>
  <caption class="m-b-lg text-xl">My income sources</caption>

  <tr class="header">
    <th>Income name</th>
    <th>Income status</th>
    <th>Generates per month</th>
  </tr>

  <tr *ngFor="let income of incomeItems$ | async" class="rows">
    <td>
      {{ income.name }}
    </td>
    <td>
      {{ income.status }}
    </td>
    <td>
      {{ income.generatesPerMonth }}
    </td>
  </tr>
  <tr class="total">
    <td>
      Total:
    </td>
    <td></td>
    <td>
      xxx
    </td>
  </tr>
</table>
