@import "../../../../theme/variables";

table{
  width: 100%;
  border-collapse: collapse;
  caption{

  }


  tr{
    transition: .2s;
    &.header{
      th{
        text-align: left;
      }
    }
    &.total{
      color: red;
      td{
        border-bottom: 3px solid rgba($primary, 0.65);
        border-top: 3px solid rgba($primary, 0.65);
      }
    }
    &.rows{
      &:hover{
        background-color: rgba($primary, .2);
        cursor: pointer;
      }
    }



    td{
      border-bottom: 1px solid rgba(125, 125, 125, 0.65);
      height: 3rem;
    }
  }

}
